@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Outfit:wght@100..900&family=Poppins:wght@300;400;700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
*{
  font-family: Saira,sans-serif;
}

@theme{
  --color-dark-100:#1a1a1a;
  --color-dark-200:#1f1f1f;
  --color-dark-300:#2d2d2d;
  --color-dark-400:#3d3d3d;
  --color-purple:#8B5CF6;
  --color-pink:#EC4899;
  --color-blue:#3B82F6;
}

.typewriter{
  overflow:hidden;
  border-right:0.15em solid #8B5CF6;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(20,end) infinite,blink-caret 0.75s step-end infinite;


}
@keyframes typing {
  /* from {width: 0;}
  to   {width:19ch;} */
  0% {
    width: 0;
  }
  40% {
    width: 19ch;
  }
  60% {
    width: 19ch;
  }
  100% {
    width: 0;
  }
}
@keyframes blink-caret {
  from, to {border-color: transparent;}
  50%      {border-color: #8B5CF6;}
}